* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  display: flex;
}
.container {
  display: block;
  position: relative;
  margin: auto;
  padding: 5px 20px;
  margin-top: 10px;
  background-color: #a4bcf2;
  border-radius: 5px;
}
input {
  padding: 5px;
  border-radius: 5px;
}
.section {
  display: block;
  padding: 5px 20px;
}
.drop-down {
  margin: 5px;
  padding: 5px;
  border-radius: 5px;
}
.addTask-btn {
  display: block;
  margin: auto;
  padding: 3px 25px;
  border-radius: 3px;
  background-color: #007bff;
  cursor: pointer;
  border: none;
  color: white;
}
.add-task {
  display: flex;
  align-items: center;
  gap: 10px;
  margin: 5px 0;
}
.add-task p {
  background-color: white;
}
.editBtn {
  display: inline-block;
}
.lineTrough {
  text-decoration: line-through;
  color: #575454;
}
.check-box input[type="checkbox"]:checked {
  background-color: rgb(27, 216, 59);
}
.hide {
  display: none;
}
